4body {
    font-family: Arial, sans-serif;
    line-height: 0.8;
    margin: 0;
    padding: 0 0;
    background-color: #f4f4f4;
    color: #000080;
}

header {
    background: #000080;
    color: #fff;
    padding: 0.1% 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 2px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    text-align: center;
    background: #000080;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column; /* 垂直排列 */
    align-items: center; /* 内容居中对齐 */
    gap: 0; /* 设置两行内容之间的间距为 5px */
}

.image-container img {
    display: inline-block; /* 使图片在同一行显示 */
    width: 40%; /* 设置图片宽度 */
    margin: 10px; /* 添加间距 */
    height: auto; /* 高度自适应 */
}
