body {
    font-family: Arial, sans-serif;
    line-height: 1.6; /* 调整行高 */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cultured */
    color: #000080; /* Navy blue */
}

header {
    line-height: 0.7; /* 设置标题的行高为字体大小的 1.2 倍 */
    background: #000080;
    color: #fff; /* White */
    padding: 1px; /* 使用固定值 */
    text-align: center;
    top: 0;
}


.link-list a {
  display: block;      /* ⭐ 每个链接一行 */
  margin-left: 32px;   /* 与网页左边留空 */
  margin-bottom: 8px;  /* 行间距 */
}


nav ul li {
    display: inline;
    margin: 0 2px;
   }

nav ul li a {
    margin: 0 5px;
    color: #fff; /* White */
    text-decoration: none;
}

footer {
    text-align: center;
    line-height: 0.7;
    padding: 2px 0; /* 使用固定值 */
    background: #000080; /* Navy blue */
    color: #fff; /* White */
    width: 100%;
    bottom: 0;
}

.footer-text {
    margin-right: 10px;
}

.sentence {
    margin-right: 8px; /* Adjusts empty space to the right */
}

.email-link {
    color: #fff;     /* 链接白色 */
    font-size: 16px;   /* 改这里 */
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline; /* 悬停下划线 */
}

.image-container img {
    display: inline-block;
    width: 40%;
    margin-top: 5px;
    margin-left: 20px;
    height: auto;
}

.video-wrap {
  /* 左边留空 */
  display: flex;
  gap: 10px;
}

.video-box {
  width: 42%;          /* 同宽 */
  height: 50%;         /* 同高 */
  object-fit: contain;   /* 不拉伸，可能留黑边 */
  padding-left: 8px;   /* 左边留白 */
  padding-top: 8px;
}

