body {
    font-family: Arial, sans-serif;
    line-height: 1.6; /* 调整行高 */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000080;
}

header {
    line-height: 0.3; /* 设置标题的行高为字体大小的 1.2 倍 */
    background: #000080;
    color: #fff;
    padding: 1px; /* 使用固定值 */
    text-align: center;
    top: 0;
}

nav ul li {
    display: inline;
    margin: 0 2px;
   }

nav ul li a {
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
}

footer {
    text-align: center;
    line-height: 0.5;
    margin: 0;
    padding: 1px 0; /* 使用固定值 */
    background: #000080;
    color: #fff;
    width: 100%;
    bottom: 0;
}

.footer-text {
    margin-right: 10px;
    font-size: 12px;     /* 统一字体大小 */
}

.image-container img {
    display: inline-block;
    width: 40%;
    margin-top: 5px;
    margin-left: 20px;
    height: auto;
}
