body {
    font-family: Arial, sans-serif;
    line-height: 1.2; /* 调整行高 */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000080;
}

header {
    background: #000080;
    color: #fff;
    padding: 1px 0; /* 使用固定值 */
    text-align: center;
    top: 0;
}

nav ul li {
    display: inline;
    margin: 2px 2px;
   }

nav ul li a {
    margin-bottom: 1px;
    color: #fff;
    text-decoration: none;
}

footer {
    text-align: center;
    margin: 0;
    padding: 1px 0; /* 使用固定值 */
    background: #000080;
    color: #fff;
    width: 100%;
    bottom: 0;
}

.image-container img {
    display: inline-block;
    width: 40%;
    margin: 10px;
    height: auto;
}
